body{
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

menu,
ul,
ol {
    list-style: none;
}

input,
button {
    border: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

// .main header{
//     position: sticky;
//     top: 0;
// }